{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block titulo %} Cadastro de Equipamentos {% endblock %}

{% block conteudo %}
<main>
    <div class="container-card">
        <div class="body-card">
            <h4>Cadastro do Equipamento</h4>
            <hr>
            
            <form action="{% url 'add_equipamento'%}" method="post">
                {% csrf_token %}
                
                <div class="input-group">
                    <input type="text" id="categoria" name="categoria" placeholder="Categoria:">
                </div>

                <div class="input-group">
                    <input type="text" id="nome" name="nome" placeholder="Nome:">
                </div>

                <div class="input-group">
                    <textarea id="especificacao" name="especificacao" placeholder="Especificações:" rows="5" cols="34">{{ form.especificacao.value }}</textarea>
                </div>

                <div class="bt-and-text">
                    <button type="submit" class="btphoto">
                        <img src="{% static 'images/addimg.png' %}" alt="icone check" class="icon">
                    </button>
                    <a href="#">Adicionar Imagem do produto</a>
                </div>

                <button type="submit" class="bt">Cadastrar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
