{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block titulo %} Tela Principal {% endblock %}

{% block conteudo %}

    <h1>Equipamentos</h1>
    <a href="{% url 'add_equipamento' %}">Adicionar Equipamento</a>
    <table>
        {% for equip in equipamentos %}
        <tr>
            <td><h2>{%equip.nome}</h2></td>

            <td><a href="{% url 'excluir_equipamento' equip.id %}">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>

    <br><br>

    <h1>Documentos</h1>
    <table>
        {% for doc in documentos %}
        <tr>
            <td><h2>{%doc.tipo_documento}</h2></td>
            
            <td><a href="{% url 'excluir_documento' doc.id %}">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

